#accordion_tables {
	padding-bottom:40px;
}
#accordion_tables .accordion-icon {
	width:50px;
	height:50px;
	margin-top:-14px;
}
#accordion_tables .one-fifth {
	width:20%;
	float:left;
	text-align:center;
}
#accordion_tables .one-fifth.align-right {
	text-align:right;
}
#accordion_tables .four-fifth {
	width:80%;
	float:left;
}

#accordion_tables h3 {
	display:block;
	width:100%;
	float:left;
	font-size:12px;
	height:45px;
	border-bottom:1px solid #d9d9d9;
	color:#008709;
	padding-top:14px;
}
#accordion_tables h3:hover {
	cursor:pointer;
}

#accordion_tables .content-container {
	width:100%;
	float:left;
}
#accordion_tables .header .one-fifth {
	padding:5px;
}
#accordion_tables .header .one-fifth .spacer {
	padding-top:15px;
	height:110px;
	background-color:#008709;
	color:#fff;
}
#accordion_tables .header .nostyle {
	background-color:#fff;
}
#accordion_tables .header h4 {
	color:#fff;
	font-size:16px;
	font-weight:bold;
	padding-bottom:0px;
}
#accordion_tables .header small {
	font-size:10px;
}
